<!--controller: storyController-->
<div class="container">
    <div class="page-header">
        <h2>Import yeu-ai.json</h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form ng-submit="uploadFile()">
                <input type="hidden" name="MAX_FILE_SIZE" value="4194304" />
                <input type="file" file-model="dataFile" onchange="angular.element(this).scope().fileInputChange(this)"/>
                <hr/>
                <input type="submit" ng-disabled="!fileSelected">
            </form>
        </div>

    </div>
</div>