<div class="container">
    <div class="page-header">
        <div class="pull-left">
            <h2>Stories</h2>
            <i>Please train your stories for better results.</i>
        </div>
        <div class="pull-right">
            <a href="/">
                <img class="logo-left" src="/images/yeuai.png">
            </a>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="row">
        <div class="col-md-4 stories">
            <div ng-if="stories.length > 0">
                <div class="story" ng-repeat="story in stories track by $index">
                    <h3 ng-bind="story.storyName">storyName</h3>
                    <button type="button" class="btn btn-primary" id="btnEdit" ng-click="editStory(story)">Edit</button>
                    <button type="button" class="btn btn-primary" ng-click="openTrainDialog(story)">Train</button>
                    <button type="button" class="btn btn-primary" ng-click="removeStory(story._id, $index)">Delete</button>
                    <button type="button" class="btn btn-primary" id="btnBuild">Build Model</button>
                </div>
            </div>
            <div class="stories" ng-if="stories.length === 0">
                <center>No stories found!</center>
            </div>
        </div>
        <div class="col-md-8 stories">
            <form name="storyForm" ng-submit="saveStory(story)">
                <div class="row">
                    <div class="col-md-8">
                        <h3 ng-if="!story._id">Create new story</h3>
                        <h3 ng-if="story._id">Edit story (
                            <span ng-bind="story.storyName"></span>)</h3>
                    </div>
                    <div class="col-md-4">
                        <h3 class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="openTrainDialog(story)" ng-disabled="!story._id">Build</button>
                            <button type="button" class="btn btn-success" ng-click="createNew()">Reset</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </h3>
                    </div>
                </div>
                <div class="span4">
                    <input type="text" class="form-control" ng-model="story.storyName" placeholder="Story name" required>
                </div>
                <div class="span4">
                    <input class="form-control" placeholder="Intent" size="50" ng-model="story.intentName" type="text" required>
                </div>
                <div class="span4">
                    <div class="clear"></div>
                </div>
                <div class="span4">
                    <div class="panel-body">
                        <div class="col-md-6">
                            <input class="form-control" placeholder="Parameter name" size="50" ng-model="storyParam.name" type="text">
                        </div>
                        <div class="col-md-4">
                            <select class="form-control param-type" ng-model="storyParam.type" ng-init="storyParam.type = 'freeText'" required>
                                <option value="freeText">Free Text</option>
                                <option value="mobile">Mobile number</option>
                                <option value="email">Email</option>
                                <option value="number">Number</option>
                                <option value="list">List</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="storyParam.required" ng-init="storyParam.required = false">Required</label>
                            </div>
                        </div>
                        <div class="col-md-12" ng-if="storyParam.required">
                            <textarea class="form-control" placeholder="Prompt" ng-model="storyParam.prompt" required></textarea>
                        </div>
                        <div class="pull-right">
                            <br>
                            <button type="submit" class="btn btn-info" ng-disabled="!storyParam.name" ng-click="addParameter()">Add parameter</button>
                        </div>
                    </div>
                    <div class="panel-footer" ng-if="story.parameters.length > 0">
                        <div class="row">
                            <div class="col-md-2">
                                <h4>No</h4>
                            </div>
                            <div class="col-md-2">
                                <h4>Name</h4>
                            </div>
                            <div class="col-md-2">
                                <h4>Required</h4>
                            </div>
                            <div class="col-md-6">
                                <h4>Prompt</h4>
                            </div>
                        </div>
                        <div class="row" ng-repeat="p in story.parameters track by $index">
                            <div class="col-md-2" ng-bind="$index + 1">
                                No.
                            </div>
                            <div class="col-md-2" ng-bind="p.name">
                                Name
                            </div>
                            <div class="col-md-2" ng-bind="p.required">
                                Required
                            </div>
                            <div class="col-md-6" ng-bind="p.prompt">
                                Prompt
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="false" ng-model="story.apiTrigger">API trigger </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="story.apiDetails.isJson" ng-disabled="!story.apiTrigger">JSON </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <input class="form-control" placeholder="API url" type="text" ng-model="story.apiDetails.url" ng-disabled="!story.apiTrigger">
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" ng-model="story.apiDetails.requestType" ng-disabled="!story.apiTrigger" required>
                            <option value="GET" selected="selected">GET</option>
                            <option value="POST">POST</option>
                            <option value="POST">PUT</option>
                            <option value="POST">DELETE</option>
                        </select>
                    </div>
                </div>
                <div class="span4" id="jsoneditor">
                    <textarea id="jsonData">{}</textarea>
                </div>
                <div class="span4">
                    <textarea class="form-control" placeholder="Speech response" ng-model="story.speechResponse" required></textarea>
                    <i>Extracted parameters and api call response can be accessed from speech respone using "parameters" and
                        "result" objects respectively</i>
                </div>

            </form>
        </div>
    </div>
</div>