
.row{
    margin: 0 auto;
}

.payloadPreview{
    /* margin-left: 50px; */
    color:brown;
    border: 1px solid gray;
    background-color: gainsboro;
    /* padding: 10px; */
    max-height: 400px;
    overflow-y: scroll;
}

