.content-header>app-breadcrumbs{
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    /* font-size: 12px; */
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2px;
}
/* .main-header{
    z-index: 998;
} */
