<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Tài khoản mới thêm gần đây</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <ul class="products-list product-list-in-box">
      <li class="item">
        <div class="product-img">
          <img src="assets/img/default-50x50.gif" alt="User Profile Image">
        </div>
        <div class="product-info">
          <a href="javascript:void(0)" class="product-title">Samsung TV
            <span class="label label-warning pull-right">$1800</span></a>
          <span class="product-description">
                Samsung 32" 1080p 60Hz LED Smart HDTV.
              </span>
        </div>
      </li>
      <!-- /.item -->
      <li class="item">
        <div class="product-img">
          <img src="assets/img/default-50x50.gif" alt="User Profile Image">
        </div>
        <div class="product-info">
          <a href="javascript:void(0)" class="product-title">Bicycle
            <span class="label label-info pull-right">$700</span></a>
          <span class="product-description">
                26" Mongoose Dolomite Men's 7-speed, Navy Blue.
              </span>
        </div>
      </li>
      <!-- /.item -->
      <li class="item">
        <div class="product-img">
          <img src="assets/img/default-50x50.gif" alt="User Profile Image">
        </div>
        <div class="product-info">
          <a href="javascript:void(0)" class="product-title">Xbox One <span class="label label-danger pull-right">$350</span></a>
          <span class="product-description">
                Xbox One Console Bundle with Halo Master Chief Collection.
              </span>
        </div>
      </li>
      <!-- /.item -->
      <li class="item">
        <div class="product-img">
          <img src="assets/img/default-50x50.gif" alt="User Profile Image">
        </div>
        <div class="product-info">
          <a href="javascript:void(0)" class="product-title">PlayStation 4
            <span class="label label-success pull-right">$399</span></a>
          <span class="product-description">
                PlayStation 4 500GB Console (PS4)
              </span>
        </div>
      </li>
      <!-- /.item -->
    </ul>
  </div>
  <!-- /.box-body -->
  <div class="box-footer text-center">
    <a [routerLink]="['/adminbv/user-list']" routerLinkActive="active" class="uppercase">Xem tất cả danh sách</a>
  </div>
  <!-- /.box-footer -->
</div>
