<div class="page-header">
    <div>
        <h1>Yeuai's Class Room</h1>
        <i>Train your story for possible user inputs.
            <br>Tag required parameters using mouse and give em labels</i>
    </div>
</div>
<div class="row">

    <div class="col-md-6 train-area">
        <div class="row">
            <textarea id="sentences" class="form-control" placeholder="Enter sample user input" ng-model="sentences" style="max-width: 100%"></textarea>
            <br>
        </div>
        <div class="row">
            <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="clear()">New</button>
                    <button id="trainButton" class="btn btn-primary" ng-click="posTag()">Start Labeling</button>
            </div>
            <div class="pull-left labels">
                <span id="action">
                    <b>Intent</b> :
                    <span ng-bind="story.intentName">intentName</span>
                </span>
                <br>
                <span id="labels">
                    <b>Parameters</b> :
                    <span ng-bind="story.parameters.length">intentName</span>
                </span>
            </div>
        </div>
        <hr />            
        <div class="table-responsive">          
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tham số</th>
                        <th>Lời nhắc</th>
                        <th>Bắt buộc</th>
                        <th>Kiểu dữ liệu</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in story.parameters track by $index">
                        <td ng-bind="$index + 1">1</td>
                        <td ng-bind="p.name">35</td>
                        <td ng-bind="p.prompt">New York</td>
                        <td ng-bind="p.required">USA</td>
                        <td ng-bind="p.type">Type</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="span4">
            <text-annotation config="pos_tag.config" doc="pos_tag.doc" multilabel="true" text-selected="textSelected(text, start, end)" label-clicked="labelClicked(id)"></text-annotation>
        </div>
        <div class="span4">
            <label for="tokenLabel" style="color:#337ab7">Mark label:
                <span ng-bind="namedEntity"></span>
            </label>
            <input id="tokenLabel" class="form-control" type="text" ng-model="tokenLabel" required keyboard-enter="labelEntity()" ng-disabled="!isPosLabeled"
                style="text-transform:lowercase">
        </div>
        <div class="clearfix">
        </div>
        <div class="span4">
            <button type="button" class="btn btn-primary" id="btnBuild" ng-click="buildModel(story._id)">Build Model</button>
            <button type="button" class="btn btn-primary" id="btnInsertLabeledSentence" ng-click="addToTestSet(story._id)">Add to Test Set</button>
        </div>
        <hr />
        <div class="row">
            <div class="table-responsive" style="height: 250px;">          
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mẫu học</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="label in story.labeledSentences track by $index">
                            <td ng-bind="$index + 1">1</td>
                            <td><a ng-click="editSentence(story, label, $index)" style="cursor: hand;"><span ng-bind="label.text || label.data">text</span></a></td>
                            <td>
                                <a ng-click="removeSentence(story._id, label._id, $index)" style="cursor: hand;">Xóa</a>&nbsp;
                                <a ng-click="editSentence(story, label, $index)" style="cursor: hand;">Sửa</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="span4" id="instance">
        </div>
    </div>
</div>